{% extends "layout.html" %}
{% block content %}
    <h1 class="container">
    {{ data['name_with_spaces'] }} has used these words these many times in their Album: {{ data['selected_album'] }}
    </h1>
    <br>
    {% for word, times in data['result'] %}
                {{ word }}
            {% if times > 2 %}
                {{ times }} times <br>
            {% endif %}
    {%  endfor %}
    and these words, 2 times:

    {% for word, times in data['result'] %}
            {% if times == 2 %}
                {{ word }},
            {% endif %}
    {%  endfor %}
    <br>
    <p>
        and these words, 1 time:
    </p>
    {% for word, times in data['result'] %}
            {% if times == 1 %}
                {{ word }},
            {% endif %}
    {%  endfor %}
{% endblock content %}
