{% extends "layout.html" %}
{% block content %}
    <p class="container">
        Enter Selected Album
    </p>
    <form action="/count_words" method="POST" class="col-lg-4 col-lg-offset-4">  <!-- action is i think for the function that calls it -->
        <input type="text" name="selected_album">
        <input type="submit" value="submit">
    </form>
    <h1>
        {% for album in data['albums_list'] %}
            Album = {{ album }} <br>
        {% endfor %}
    </h1>
{% endblock content %}
